@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'League Spartan', sans-serif;
}

h1 {
   font-size: 50px;
   line-height: 64px;
   color: #222;
}

h2 {
   font-size: 46px;
   line-height: 54px;
   color: #222;
}

h3 {
   font-size: 36px;
   line-height: 44px;
   color: #222;
}

h4 {
   font-size: 20px;
   color: #222;
}

h5 {
   font-size: 16px;
   color: #222;
}

h6 {
   font-size: 14px;
   font-weight: 700;
   color: #222;
}

p {
   font-size: 16px;
   color: #465b52;
   margin: 15px 0 20px 0;
}

body {
   width: 100%;
}

a {
   text-decoration: none;
   color: #222;
}

li {
   list-style: none;
}


/*      Header      */

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 80px;
   background-color: #e3e6f3;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
   z-index: 100;
   position: sticky;
   top: 0;
   left: 0;
}

.navbar__list {
   display: flex;
   align-items: center;
}

.navbar__item:not(:last-child) {
   margin-right: 40px;
}

.navbar__link {
   font-size: 20px;
   font-weight: 600;
   color: #333131;
   transition: all 0.2s ease-in-out;
   position: relative;
}

.navbar__link:hover,
.navbar__link.active {
   color: #088178;
}

.navbar__link.active::after,
.navbar__link:hover::after {
   content: "";
   width: 50%;
   height: 2px;
   background-color: #088178;
   position: absolute;
   bottom: -5px;
   left: 0;
}

.burger {
   display: none;
   align-items: center;
}

.close {
   display: none;
}


/*      Home      */

.hero {
   background: url(img/hero4.png) center no-repeat;
   background-size: cover;
   height: 90vh;
   width: 100%;
   padding: 0 80px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.hero__suptitle_1 {
   margin-bottom: 15px;
   font-size: 28px;
}

.hero__suptitle_2 {
   font-size: 58px;
}

.hero__title {
   color: #088178;
   font-size: 62px;
}

.hero__text p {
   font-size: 20px;
}

.button {
   padding: 15px 80px 15px 65px;
   background-color: transparent;
   border: none;
   background: url(img/button.png) center no-repeat;
   color: #088178;
   cursor: pointer;
   font-size: 16px;
   font-weight: 700;
   transition: all 0.2s ease-in-out;
}

.button:hover {
   transform: scale(1.1);
   color: #443cb3;
}


/*      Feature      */

.feature {
   display: flex;
   justify-content: space-between;
   padding: 60px 80px;
   text-align: center;
   align-items: center;
   flex-wrap: wrap;
}

.feature__block {
   border: 1px solid #cce7d0;
   padding: 25px 15px;
   max-width: 180px;
   box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
   border-radius: 4px;
   margin-bottom: 20px;
}

.feature__block:hover {
   box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.feature__name {
   display: inline-block;
   margin: 0 auto;
   margin-top: 10px;
   padding: 7px 8px;
   background-color: #fddde4;
   color: #088178;
   border-radius: 4px;
}

.feature__image {
   width: 100%;
}

.feature__block:nth-child(2) .feature__name {
   background-color: #cdebbc;
}

.feature__block:nth-child(3) .feature__name {
   background-color: #d1e8f2;
}

.feature__block:nth-child(4) .feature__name {
   background-color: #cdd4f8;
}

.feature__block:nth-child(5) .feature__name {
   background-color: #f6dbf6;
}

.feature__block:nth-child(6) .feature__name {
   background-color: #fff2e5;
}


/*      Featured Products      */

.section__title {
   text-align: center;
}

.section__title_text {
   font-size: 19px;
}

.product__block {
   display: flex;
   justify-content: space-evenly;
   padding: 10px;
   padding-top: 40px;
   padding-bottom: 40px;
   flex-wrap: wrap;
}

.product__item {
   width: 23%;
   border: 1px solid #cce7d0;
   border-radius: 15px;
   margin-bottom: 20px;
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
   transition: all 0.2s ease-in-out;
}

.product__item:hover {
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.product__content {
   padding: 10px;
   position: relative;
}

.product__image {
   width: 100%;
   border-radius: 15px;
   margin-bottom: 15px;
}

.product__brand {
   color: #088178;
   margin-bottom: 10px;
}

.product__brand:hover {
   text-decoration: underline;
}

.product__name {
   margin-bottom: 10px;
   transition: color 0.2s ease-in-out;
}

.product__name:hover {
   color: #443cb3;
}

.product__rating {
   margin-bottom: 10px;
}

.product__rating--low i:last-child {
   color: rgb(155, 179, 169);
}

.product__rating i {
   color: rgb(190, 190, 22);
}

.product__cost {
   margin-bottom: 7px;
   color: #088178;
   font-weight: 600;
   font-size: 22px;
}

.shopping__cart {
   position: absolute;
   bottom: 20px;
   right: 10px;
   width: 40px;
   height: 40px;
   text-align: center;
   background-color: #e8f6ea;
   border-radius: 50%;
   cursor: pointer;
   border: 1px solid #cce7d0;
   transition: all 0.2s ease-in-out;
}

.shopping__cart:hover {
   background-color: #c2dfc7;
}

.shopping__cart i {
   color: #088178;
   padding: 12px 10px;
}


/*      Banner      */

.banner {
   margin: 50px 0;
   padding: 50px 0;
   background: url(img/banner/b2.jpg) center no-repeat;
   background-size: cover;
}

.banner__block {
   text-align: center;
}

.banner__suptitle {
   color: #fff;
   font-size: 20px;
   margin-bottom: 15px;
}

.banner__title {
   color: #fff;
   margin-bottom: 15px;
   font-size: 40px;
}

.banner__title span {
   color: rgb(211, 26, 26);
}

.banner__button {
   background-color: transparent;
   border: none;
   color: #000;
   font-size: 18px;
   font-weight: 500;
   font-family: inherit;
   background-color: #fff;
   padding: 15px 30px;
   border-radius: 3px;
   cursor: pointer;
   border: 1px solid #000;
   transition: all 0.3s ease-in-out;
}

.banner__button:hover {
   background-color: #000;
   color: #fff;
   border: 1px solid #fff;
}


/*      Small Banner      */

.small__banner_block {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 20px 40px;
}

.small__banner_item {
   width: 49%;
   min-height: 40vh;
   background: url(img/banner/b17.jpg) center no-repeat;
   background-size: cover;
}

.small__banner_content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   height: 40vh;
   padding-left: 30px;
}

.small__banner_suptitle {
   font-size: 28px;
   font-weight: 300;
   color: #fff;
   margin-bottom: 10px;
}

.small__banner_title {
   font-size: 36px;
   line-height: 36px;
   color: #fff;
   margin-bottom: 10px;
}

.small__banner_text {
   margin: 0;
   font-size: 19px;
   color: #fff;
   margin-bottom: 15px;
}

.small__button {
   background-color: transparent;
   border: none;
   color: #fff;
   font-size: 16px;
   padding: 10px 18px;
   border: 1px solid #fff;
   transition: all 0.3s ease-in-out;
   cursor: pointer;
}

.small__banner_item:hover .small__button {
   background-color: #fff;
   color: #000;
}

.second__banner {
   background-image: url(img/banner/b10.jpg);
}


/*      Tiny Banner      */


.tiny__banner_block {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 20px 40px;
}

.tiny__banner_item {
   min-width: 30%;
   min-height: 25vh;
   background: url(img/banner/b7.jpg) center no-repeat;
   background-size: cover;
}

.tiny__banner_content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   height: 25vh;
   padding-left: 20px;
   padding-right: 20px;
}

.tiny__banner_title {
   font-size: 28px;
   line-height: 28px;
   text-transform: uppercase;
   color: #fff;
   margin-bottom: 15px;
}

.tiny__banner_text {
   margin: 0;
   color: rgb(211, 26, 26);
   font-weight: 600;
   font-size: 20px;
}

.tiny__banner2 {
   background: url(img/banner/b4.jpg);
   background-size: cover;
}

.tiny__banner3 {
   background: url(img/banner/b18.jpg);
   background-size: cover;
}


/*      Newsletter      */

.newsletter {
   min-height: 10vh;
   width: 100%;
   background: #041e42 url(img/banner/b14.png) left 30% no-repeat;
   margin: 30px 0;
}

.newletter__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px 40px;
   flex-wrap: wrap;
}

.newsletter__title {
   color: #fff;
   margin-bottom: 10px;
   font-size: 32px;
}

.newsletter__text {
   font-size: 20px;
   font-weight: 600;
   margin: 0;
   color: #818ea0;
}

.newsletter__text span {
   color: rgb(192, 190, 75);
}

.newsletter__form {
   width: 30%;
}

.form {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.newsletter__input {
   width: 80%;
   border-radius: 5px 0 0 5px;
   padding: 20px;
   outline: none;
   border: none;
   font-size: 18px;
   font-family: inherit;
}

.newsletter__input:focus {
   background-color: #c2dfc7;
}

.newsletter__button {
   padding: 20px;
   border: none;
   background-color: rgb(85, 103, 109);
   color: #fff;
   width: 120px;
   font-size: 18px;
   border-radius: 0 5px 5px 0;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.newsletter__button:hover {
   background-color: #bbb9ce;
   color: rgb(39, 37, 37);
}


/*      Footer      */


.footer__container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 40px 40px;
   align-items: flex-start;
}

.footer__item {
   width: 20%;
}

.footer__item--long {
   width: 30%;
}

.footer__item:not(:last-child) {
   padding-right: 20px;
}

.footer__logo {
   margin-bottom: 5px;
}

.footer__title {
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 18px;
}

address {
   font-style: normal;
   font-size: 18px;
   color: #088178;
   margin-bottom: 5px;
}

address span {
   font-weight: 600;
}

.footer__link a {
   color: #504d4d;
}

.footer__link a:not(:last-child) {
   margin-right: 5px;
}

.footer__link i:hover {
   transform: scale(1.2);
   transition: transform 0.2s ease;
}

.footer__item__link {
   color: #088178;
}

.footer__item__link:hover {
   text-decoration: underline;
}

.footer__item__link:not(:last-child) {
   display: block;
   margin-bottom: 10px;
}

.footer__link__block {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.footer__text {
   color: #088178;
   margin-bottom: 15px;
}

.footer__link__block {
   max-width: 420px;
}

.footer__pay {
   display: block;
   width: 200px;
   height: auto;
   border: 1px solid rgb(172, 180, 178);
   border-radius: 5px;
   overflow: hidden;
   margin-right: 5px;
}

.footer__pay--card {
   border: none;
}

.footer__pay img {
   width: 100%;
   padding: 5px 0;
   object-fit: cover;
}

.copyright {
   width: 100%;
   text-align: center;
   padding: 20px;
   font-size: 18px;
   color: rgb(85, 103, 109);
}



/*      Shop Page      */

.shop__header {
   background: url(img/banner/b1.jpg) center no-repeat;
   background-size: cover;
   width: 100%;
   height: 30vh;
   margin-bottom: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.shop__header h2,
.shop__header p {
   color: #fff;
}

/*      Pagination      */

.pagination {
   padding: 40px 80px;
   display: flex;
   justify-content: center;
}

.page__link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   text-align: center;
   background-color: #088178;
   color: #fff;
   font-size: 20px;
   font-weight: 500;
   border-radius: 4px;
   transition: all 0.2s linear;
}

.page__link:not(:last-child) {
   margin-right: 10px;
}

.page__link:hover {
   background-color: #c2dfc7;
   color: #222;
}


/*      Product details      */

.product__details {
   display: flex;
   justify-content: space-between;
   padding: 40px 80px;
}

.product__photo {
   width: 40%;
   margin-right: 50px;
}

.product__main {
   width: 100%;
   margin-bottom: 10px;
}

.product__small {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.product__small_item {
   width: 24%;
   cursor: pointer;
   transition: all 0.2s linear;
}

.product__small_item:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product__small_image {
   width: 100%;
}

.product__details_content {
   width: 60%;
   margin-top: 20px;
}

.detail__category {
   font-weight: 500;
   margin-bottom: 30px;
}

.detail__title {
   font-size: 24px;
   margin-bottom: 30px;
}

.detail__cost {
   font-size: 32px;
   margin-bottom: 15px;
}

.select__size {
   display: block;
   padding: 5px 10px;
   font-size: 16px;
   text-align: center;
   color: #465b52;
   outline: none;
   margin-bottom: 10px;
}

.select__block {
   display: flex;
   justify-content: space-between;
   width: 215px;
   align-items: center;
   margin-bottom: 40px;
}

.product__qty {
   width: 50px;
   height: 40px;
   padding-left: 10px;
   font-size: 18px;
   font-weight: 300;
   font-family: inherit;
   margin-right: 10px;
   outline: none;
}

.product__qty:focus {
   outline: none;
}

.add__button {
   width: 150px;
   height: 40px;
   margin: 0;
   padding: 0;
   border: none;
   background-color: #088178;
   color: #fff;
   font-size: 16px;
   font-weight: 500;
   border-radius: 4px;
   cursor: pointer;
   transition: all 0.2s linear;
}

.add__button:hover {
   background-color: #bbb9ce;
   color: rgb(39, 37, 37);
}

.detail__desc {
   font-size: 28px;
}

.detail__text {
   width: 80%;
   font-size: 20px;
   line-height: 24px;
   font-weight: 300;
}


/*      Blog Page      */


.blog__header {
   background: url(img/banner/b19.jpg);
}

.blog__container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   padding: 40px 150px;
   margin-bottom: 30px;
}

.blog__photo {
   width: 45%;
}

.blog__photo:hover .blog__date {
   color: rgb(157, 40, 168);
}

.blog__content {
   width: 45%;
}

.blog__image img {
   width: 100%;
   height: 300px;
   object-fit: cover;
}

.blog__date {
   font-size: 90px;
   color: #b9cec9;
   font-weight: 700;
   margin-bottom: -30px;
   transition: color 0.3s linear;
}

.blog__title {
   display: inline-block;
   font-size: 24px;
   background: linear-gradient(rgb(157, 40, 168) 0 0) 0% calc(-3px - 100%) /var(--d, 0%) 200% no-repeat;
   transition: 0.3s, background-size 0.3s 0.3s;
}

.blog__title:hover {
   --d: 100%;
   background-position: 50% 0%;
   color: #fff;
   transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
}

.blog__text {
   font-size: 20px;
   line-height: 24px;
   font-weight: 300;
}

.blog__reading {
   text-transform: uppercase;
   display: inline-block;
   font-size: 14px;
   font-weight: 600;
   position: relative;
   transition: all 0.2s linear;
}

.blog__reading::before {
   content: '';
   width: 50px;
   height: 1px;
   background-color: #000;
   position: absolute;
   top: 40%;
   right: -60px;
   z-index: 2;
}

.blog__reading:hover {
   color: rgb(157, 40, 168)
}


/*      About Page      */


.about__header {
   background: url(img/about/banner.png);
}

.about__container {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   padding: 40px 80px;
   justify-content: space-between;
   align-items: center;
}

.about__item {
   width: 48%;
}

.about__item img {
   width: 100%;
   object-fit: cover;
}

.about__title {
   text-transform: capitalize;
}

.about__text {
   display: block;
   font-size: 18px;
   line-height: 18px;
   width: 100%;
   color: #818ea0;
}

.video {
   padding: 40px;
}

.video__title {
   text-align: center;
   text-transform: capitalize;
   margin-bottom: 30px;
}

.video__title a {
   color: blue;
}

.video__block video {
   display: block;
   width: 60%;
   margin: 0 auto;
   border-radius: 20px;
}


/*      Contact Page      */


.contact {
   padding: 40px 80px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.contact__block {
   width: 48%;
}

.contact_suptitle {
   text-transform: uppercase;
   font-weight: 300;
   margin-bottom: 20px;
}

.contact__title {
   max-width: 550px;
   margin-bottom: 20px;
}

.contact__subtitle {
   margin-bottom: 20px;
}

.contact__list__item {
   display: flex;
   justify-content: flex-start;
   margin-bottom: 10px;
}

.contact__list__item i {
   margin-right: 20px;
}

.contact__address {
   font-weight: 300;
}

.map iframe {
   width: 100%;
   height: 400px;
}

.contact__form {
   padding: 40px 80px;
   margin: 40px;
   border: 1px solid #cadad8;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.form__data {
   width: 70%;
}

.form__title {
   margin-bottom: 20px;
}

.submit__form {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.submit__form input {
   margin-bottom: 20px;
   width: 90%;
   min-height: 40px;
   border: 1px solid #cadad8;
   outline: none;
   padding: 5px 20px;
   font-size: 18px;
}

.input__item::placeholder {
   font-weight: 300;
}

.input__item:focus {
   background-color: rgb(233, 229, 212);
}

.form__textarea {
   width: 90%;
   min-height: 200px;
   resize: none;
   border: 1px solid #cadad8;
   outline: none;
   padding: 10px 20px;
   font-size: 18px;
}

.form__textarea::placeholder {
   font-weight: 300;
}

.form__textarea:focus {
   background-color: rgb(233, 229, 212);
}

.form__button {
   margin-top: 20px;
   width: 100px;
}

.contact__person {
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   min-height: 400px;
}

.person__block {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
}

.person__block img {
   width: 60px;
   height: 60px;
   object-fit: cover;
   border-radius: 50%;
   margin-right: 15px;
}

.person__data li {
   margin-bottom: 10px;
}

.person__name {
   font-weight: 600;
   margin-bottom: 10px;
}

.person__info {
   color: rgb(96, 116, 116);
   font-weight: 300;
}


/*      Cart Page      */

.cart {
   padding: 40px 80px;
   overflow-x: auto;
}

.table {
   width: 100%;
   border-collapse: collapse;
   table-layout: fixed;
   white-space: nowrap;
}

.head_row {
   text-align: center;
   border: 1px solid #e2e9e1;
   border-left: none;
   border-right: none;
}

.head__data {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 15px;
   padding: 18px 0;
}

.body__data img {
   width: 70px;
}

.body__data {
   padding-top: 15px;
   font-size: 16px;
}

.body__data i {
   transition: all 0.2s linear;
}

.body__data i:hover {
   color: rgb(85, 87, 218);
}

.body__row {
   text-align: center;
}

.table td:nth-child(1) {
   width: 100px;
}

.table td:nth-child(2) {
   width: 150px;
}

.table td:nth-child(3) {
   width: 250px;
}

.table td:nth-child(4),
.table td:nth-child(5),
.table td:nth-child(6) {
   width: 150px;
}

.body__data input {
   width: 70px;
   padding: 10px 5px 10px 15px;
   outline: none;
}

.cart__info {
   padding: 40px 120px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.coupon {
   width: 50%;
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
}

.coupon__title {
   font-size: 24px;
   margin-bottom: 15px;
}

.coupon__data {
   width: 100%;
}

.coupon__input {
   width: 60%;
}

.coupon__button {
   width: 100px;
}

.coupon__input {
   min-height: 38px;
   border: 1px solid #cadad8;
   outline: none;
   padding: 5px 15px;
   font-size: 18px;
   margin-right: 10px;
}

.coupon__input::placeholder {
   font-weight: 300;
}

.coupon__input:focus {
   background-color: rgb(233, 229, 212);
}

.cart__total {
   width: 50%;
   border: 1px solid #cadad8;
   padding: 25px;
}

.total__title {
   font-size: 24px;
   margin-bottom: 15px;
}

.total__table {
   width: 100%;
   font-weight: 300;
   border-collapse: collapse;
   table-layout: fixed;
   white-space: nowrap;
   margin-bottom: 15px;

}

.total__data {
   padding: 10px;
}

.total__data {
   border: 1px solid #cadad8;
}

.total {
   font-weight: 600;
}

.total__button {
   width: 180px;
}


/*      Media      */

@media (max-width: 920px) {

   .tiny__banner_item {
      width: 100%;
      margin-bottom: 15px;
   }

   .feature {
      padding: 20px;
   }

   .blog__container {
      padding: 40px;
      margin-bottom: 0;
   }

   .about__item {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
   }

   .about__text {
      width: 100%;
      color: #818ea0;
   }

   .video__block video {
      display: block;
      width: 100%;

   }

   .contact__block {
      width: 100%;
      margin-bottom: 20px;
   }

   .form__data {
      width: 100%;
   }

   .contact__person {
      width: 100%;
   }

   .submit__form input,
   .form__textarea {
      width: 100%;
   }

   .cart__info {
      padding: 40px 40px;
   }

   .cart {
      padding: 40px 40px;
   }

   @media (max-width: 850px) {

      .newletter__container {
         justify-content: center;
      }

      .newsletter__content {
         margin-bottom: 30px;
         text-align: center;
      }

      .newsletter__form {
         width: 100%;
         text-align: center;
      }
   }

   @media (max-width: 799px) {

      .navbar__list {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         position: fixed;
         top: 0;
         right: -300px;
         height: 100vh;
         width: 300px;
         background-color: #e3e6f3;
         box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
         padding: 80px 0 0 15px;
         transition: all 0.4s ease-in-out;
      }

      .navbar__list.active {
         right: 0;
      }

      .navbar__item {
         margin-bottom: 25px;
      }

      .burger {
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 70px;
      }

      .burger i {
         font-size: 24px;
         color: #222;
      }

      .close {
         display: initial;
         position: absolute;
         top: 30px;
         left: 15px;
         font-size: 24px;
         color: #222;
      }

      .mobile__cart {
         display: none;
      }

      .hero {
         height: 70vh;
         padding: 0 80px;
         background-position: top 30% right 30%;
      }

      .feature {
         justify-content: center;
      }

      .feature__block {
         margin: 15px 10px;
      }

      .product__item {
         width: 48%;
      }

      .banner__title {
         font-size: 32px;
      }

      .small__banner_item {
         width: 100%;
         margin-bottom: 15px;
      }

      .footer__item {
         width: 100%;
         margin-bottom: 30px;
      }

      .product__details {
         flex-wrap: wrap;
         padding: 40px 40px;
      }

      .product__photo {
         width: 100%;
         margin: 0;
      }

      .product__details_content {
         width: 100%;
         margin-top: 50px;
      }

      .detail__text {
         width: 100%;
      }

      .blog__container {
         padding: 40px 20px;
      }

      .blog__title {
         font-size: 20px;
      }

      .blog__text {
         font-size: 16px;
         line-height: 20px;
      }

      .about__container {
         padding: 40px 40px;
      }

      .contact {
         padding: 20px 40px;
      }

      .contact__form {
         padding: 20px 40px;
      }

      .coupon,
      .cart__total {
         width: 100%;
      }

   }

   @media (max-width: 599px) {

      .blog__container {
         flex-wrap: wrap;
      }

      .blog__photo {
         width: 100%;
         margin-bottom: 30px;
      }

      .blog__content {
         width: 100%;
      }
   }


   @media (max-width: 480px) {

      .header {
         padding: 20px 40px;
      }

      .hero {
         padding: 0 30px;
      }

      .hero__suptitle_2 {
         font-size: 40px;
      }

      .hero__title {
         font-size: 48px;
      }

      .feature {
         padding: 40px 20px;
      }

      .product__item {
         width: 100%;
      }

      .product__details {
         padding: 40px 20px;
      }

      .about__title {
         font-size: 36px;
         line-height: 42px;
      }

      .video__title {
         font-size: 36px;
         line-height: 42px;
      }

      .about__text {
         font-size: 14px;
      }

      .about__container {
         padding: 20px;
      }

      .video {
         padding: 20px;
      }

      .contact__title {
         font-size: 28px;
         line-height: 32px;
      }

      .form__title {
         font-size: 28px;
         line-height: 32px;
      }

      .contact {
         padding: 10px 20px;
      }

      .contact__form {
         padding: 10px 20px;
         margin: 15px;
      }

      .coupon__input {
         width: 70%;
         margin-bottom: 20px;
      }

      .cart {
         padding: 20px 20px;
      }

      .cart__total {
         padding: 20px 10px;
      }

      .cart__info {
         padding: 40px 20px;
      }
   }

   @media (max-width: 380px) {

      .header {
         padding: 20px 25px;
      }

      .hero {
         padding: 0 20px;
      }

      .hero__suptitle_2 {
         font-size: 30px;
      }

      .hero__title {
         font-size: 38px;
      }

      .hero__text p {
         font-size: 16px;
      }

      .section__title_block {
         font-size: 30px;
         line-height: 30px;
      }

      .banner__block {
         padding: 0 20px;
      }

      .banner__title {
         font-size: 26px;
      }

      .small__banner_block {
         padding: 20px;
      }

      .small__banner_content {
         padding-left: 15px;
      }

      .tiny__banner_block {
         padding: 20px;
      }

      .newletter__container {
         padding: 20px;
      }

      .newsletter__title {
         font-size: 24px;
      }

      .newsletter__text {
         font-size: 16px;
      }

      .navbar__list {
         width: 250px;
      }
   }


   @media (max-width: 320px) {

      .banner {
         padding: 20px 0;
      }

      .small__banner_title {
         font-size: 28px;
         line-height: 28px;
      }

      .small__banner_text {
         font-size: 16px;
      }

      .tiny__banner_title {
         font-size: 24px;
         line-height: 24px;
      }

   }